/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 4em;
  font-weight: bold;
  color: #777777;
  margin: 100px 50px 150px;
  text-align: center;
  clear: both
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Dropdown style*/
.gwt-ListBox{
    color:black
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/** DataTable**/
.Table {
	clear: both;
	margin: 2em 0em;
	border-collapse: collapse;
	border: 1px solid #8DCADE;
	padding: 3px 70px 2px 70px;
	background-color: #ffffff;
	color: #8DCADE;
}


.cells {
    color : #000000;
    background-color: #f8f8f8;
    height: 2em;
    border-bottom: 1px solid #c0c0c0;
    border-collapse: collapse;
}

.cellsAlt {
    color : #400040;
    background-color: #f3fcfe;
    font-style: bold;
    height: 2em;
    border-bottom: 1px solid #c0c0c0;
    border-collapse: collapse;

}

.cellsHeader {
    color : #ffffff;
    background-color: #0d3e57;
    font-style: bold;
    font-size: 140%;
    border-bottom: 1px solid #c0c0c0;
    border-collapse: collapse;
}
/** CreativeCommons**/
.cc {
	float: right;
	width: 300px;
    border: 2px solid #ff0000;
    overflow: auto;
}

/** SwitchMapTableButtons**/
.Showtable-button {
	clear: left;
	margin: 0em 1em;
}
.Showmap-button {
	clear: right;
	margin: 0em 1em;
	
}

/** SwitchMapTableButtons**/
.Map {
	clear: both;
	margin: 1em 1em;
}

.Navigation{
	clear: both;
	margin: 1em 0em;
	}
.Dropdown{
	clear: both;
	margin: 1em 0em;
}


/** CSV & PNG Export **/
.exportCsv{
	float: right;
	width: 300px;
	background-color: #c0c0c0;
	color: #ff0080;
	font-size: 120%;
	font-style: bold;
    overflow: auto;
}
.exportPng{
	float: right;
	width: 300px;
    border: 2px solid #ff0000;
    overflow: auto;
}